.hold {
    display: grid;
    justify-content: center;
    align-content: center;
}
input {
    border: none;
    border-bottom: 3px solid gray;
    outline: none;
    margin-right: 1em;
}

button {
    border: none;
    border: 3px solid gray;
    padding: 3px;
    border-radius: 3px;
    font-weight: 700;
}

button:hover {
    opacity: 77%;
    cursor: pointer;
}

mark {
    text-align: center;
}